body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  margin: 0; }

.row {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%; }
  .row:after {
    content: "";
    display: table;
    clear: both; }

.mastheadbanner {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: none;
  padding: 0.5em;
  margin: 0 auto;
  width: 100%;
  background-color: #982; }

.nav {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-right: 0;
  padding: 0.5em;
  word-wrap: break-word;
  width: 76.5%;
  background-color: pink; }

ul {
  padding: 0;
  margin: 0; }

ul li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-right: 2%;
  padding: 0.5em;
  word-wrap: break-word;
  width: 15.85%;
  background-color: green;
  list-style: none; }

.morenestedspan {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-right: 0;
  padding: 0.5em;
  word-wrap: break-word;
  width: 50.0%;
  background-color: red; }

.nestedspan {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-right: 0;
  padding: 0.5em;
  word-wrap: break-word;
  width: 50.0%;
  background-color: #666; }

.gridspan {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-right: 0;
  padding: 0.5em;
  word-wrap: break-word;
  width: 33.33333%;
  margin-left: 8.5% !important;
  background-color: #777; }

.banner {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-right: 2%;
  padding: 0.5em;
  word-wrap: break-word;
  width: 100%;
  background-color: #333;
  height: 150px; }

.header {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-right: 2%;
  padding: 0.5em;
  word-wrap: break-word;
  width: 100%;
  background-color: #000;
  color: #fff; }

.content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-right: 2%;
  padding: 0.5em;
  word-wrap: break-word;
  width: 66.0%;
  background-color: #666;
  color: #fff; }

.services {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-right: 2%;
  padding: 0.5em;
  word-wrap: break-word;
  width: 32.0%;
  background-color: #e33; }
  .services:last-child {
    float: right;
    margin-right: 0; }

.about {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-right: 2%;
  padding: 0.5em;
  word-wrap: break-word;
  width: 23.5%;
  background-color: #444; }
  .about:last-child {
    float: right;
    margin-right: 0; }

.contact {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-right: 0;
  padding: 0.5em;
  word-wrap: break-word;
  width: 33.33333%;
  background-color: #666; }

.random {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-right: 2%;
  padding: 0.5em;
  word-wrap: break-word;
  width: 40.5%;
  background-color: #888; }
  .random:last-child {
    float: right;
    margin-right: 0; }

.product {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-right: 2%;
  padding: 0.5em;
  word-wrap: break-word;
  width: 23.5%;
  background-color: #eee;
  height: 150px; }
  .product:last-child {
    float: right;
    margin-right: 0; }

.half {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-right: 2%;
  padding: 0.5em;
  word-wrap: break-word;
  width: 49.0%;
  background-color: #777; }
  .half:last-child {
    float: right;
    margin-right: 0; }

.a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-right: 2%;
  padding: 0.5em;
  word-wrap: break-word;
  width: 49.0%;
  background-color: #fff; }
  .a:last-child {
    float: right;
    margin-right: 0; }

.nine {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-right: 2%;
  padding: 0.5em;
  word-wrap: break-word;
  width: 23.5%;
  background-color: #999; }

.anine {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-right: 2%;
  padding: 0.5em;
  word-wrap: break-word;
  width: 15.0%;
  margin-left: 25.5% !important;
  background-color: #999; }

.bnine {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-right: 2%;
  padding: 0.5em;
  word-wrap: break-word;
  width: 15.0%;
  margin-right: 8.5% !important;
  background-color: #999; }
  .bnine:last-child {
    float: right;
    margin-right: 0; }

.centrediv {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: none;
  padding: 0.5em;
  margin: 0 auto;
  text-align: center;
  width: 32.0%;
  background-color: #444; }

.footer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-right: 2%;
  padding: 0.5em;
  word-wrap: break-word;
  width: 100%;
  background-color: #333; }

@media only screen and (max-width: 320px) {
  ul li, .nav, .gridspan, .product, .content, .services, .random,
  .about, .contact, .nine, .anine, .bnine, .half, .centrediv, .mastheadbanner {
    float: none;
    width: 100%;
    margin: 0 !important; } }
@media only screen and (max-width: 768px) {
  ul li, .nav, .gridspan, .product, .content, .services, .random,
  .about, .contact, .nine, .anine, .bnine, .half, .centrediv, .mastheadbanner {
    float: none;
    width: 100%;
    margin: 0 !important; } }
