//  Reference Guide
//  ---------------
//  Please note: You should be writing your styles in this file but you should view
//	the grid.scss file to change/customize the variables to suit your needs.
//
//	@include row - should be added to your .row class.
//	@include spanbase - should be added to elements you wish to make use of the border-box based grid system.
//	@include base - should be added to elements you wish to use the grid system that uses margins as it's gutters.
//	@include centre - include this on elements you want centred. Don't include spanbase & base on these elements.
//	@include centretext - does exactly what it says on the tin, centre's text.
//	@include responsive - should be included in the media query styles of your document, group all of your classes
//	into your media query sections and simply add @include responsive.
//
//	To give your classes a width simply use: columns(number-of-columns); in your elements CSS width.
//	If you are using the border-box grid system use: columns-span(number-of-columns); your elements CSS width.
//
//	To apply offsets to your columns simply apply offset(number-of-columns) to the left/right margin of the element.


@import 'lite-grid/grid';

html {
	font-size:$basesize;
}
body {
	font-family: $basefont;
	line-height: $lineheight;
	color:$basedarkcolor;
	margin: 0;
}

// The below style section is for framework styles
.caret {
	border-top: 5px solid #fff;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 0;
}
.invert {
	border-top: 5px solid $basedarkcolor;
}
.dropdowncontain {
	display:inline-block;
}
.dropdown-menu {
	@include border-radius(4px);
	display:none;
	position: absolute;
	z-index: 1000;
	float: left;
	min-width: 160px;
	padding: 0.6em 0;
	margin: 0.2em 0 0 0;
	font-size: 90%;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.15);
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	   -moz-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	        box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}
.dropdown-menu > li > a {
	display: block;
	text-align:left;
	padding: .4em 1.2em;
	clear: both;
	font-weight: normal;
	color: $basedarkcolor;
	white-space: nowrap;
	text-decoration:none;
}
.dropdown-menu > li > a:hover {
	background-color:#eee;
}
.highlightdropdown {
	background-color:#eee;
}
.dropdown-divider {
	border-top: 1px solid #ccc;
	margin: 0.5em 0;
}
.buttoncontainer {
	@include centre;
	@include centretext;
}
.button {
	@include border-radius(3px);
	border: 1px solid transparent;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: $btnsize;
	margin: 0;
	outline: 0;
	padding: 0.5em 1em;
}
.largebtn{
	@extend .button;
	padding: 0.9em 1.5em;
}
.smallbtn {
	@extend .button;
	padding: 0.3em 0.5em;
}
.label {
 	@extend .smallbtn;
 	font-size:80%;
 	font-weight:bold;
 	cursor:default;
 	border-color:#ccc;
}
.defaultbutton,
.defaultlabel {
	background-color:#fff;
	border-color:#ccc;
	color:$basedarkcolor;
}
.defaultbutton:hover {
	background-color:#ebebeb;
	border-color:#adadad;
}
.defaultbutton:active {
	@include btn-box-shadow;
}
.primarybutton,
.primarylabel {
	background-color:#428bca;
	border-color:#357ebd;
}
.primarybutton:hover {
	background-color:#3276b1;
	border-color:#285e8e;
}
.primarybutton:active {
	@include btn-box-shadow;
}
.warningbutton,
.warninglabel {
	background-color:#f1c40f;
	border-color:#e0b60c;
}
.warningbutton:hover {
	background-color: #e6bb0e;
	border-color: #d4ac0b;
}
.warningbutton:active {
	@include btn-box-shadow;
}
.errorbutton,
.errorlabel {
	background-color:#d9534f;
	border-color:#d43f3a;
}
.errorbutton:hover {
	background-color:#d2322d;
	border-color:#ac2925;
}
.errorbutton:active {
	@include btn-box-shadow;
}
.successbutton,
.successlabel {
	background-color:#5cb85c;
	border-color:#4cae4c;
}
.successbutton:hover {
	background-color:#47a447;
	border-color:#398439;
}
.successbutton:active {
	@include btn-box-shadow;
}
.accept {
	min-width:90px;
}
.accepticon {
	display:none;
	color:green;
}
.erroricon {
	display: none;
	color:red;
}
.disabledbtn {
	background-color:#eee;
}

// Highlights - Can be used for things like table row highlights
.activehighlight, .successhighlight {
	background-color:#dff0d8;
}
.warninghighlight {
	background-color:#fcf8e3;
}
.errorhighlight {
	background-color:#f2dede;
}
.infohighlight {
	background-color:#d9edf7;
}


.inputgroup {
	display:inline-block;
	padding:0 0.5em 0 0;
}
.genericinput {
	margin: 0;
	font-size: 80%;
	border: 1px solid #ccc;
	padding: 0.5em 0.8em;
	border-radius: 3px;
}
.formlabel {
	display:block;
	margin: 1em 0 0.2em 0;
	font-weight: bold;
	font-size: 90%;
}
.checkbox {
	display:inline-block;
	padding: 0 1em 0 0;
}
.hr {
  border: solid #ccc;
  border-width: 1px 0 0;

}


// Responsive styles
@media only screen and (max-width: 320px) {
	.yourclasseshere {
		@include responsive;
	}
}

@media only screen and (max-width: 768px) {
	.yourclasseshere {
		@include responsive;
	}
}
